<nav class="navbar navbar-expand-lg bg-body-tertiary py-4 col-sm-12">
	<div
		class="container-fluid d-flex justify-content-between col-sm-11">


		{# Logo du site #}
		<div>
			<a class="navbar-brand" href="{{ path('index') }}">
				<img src="/images/logo.png" alt="Logo du site" style="height: 50px;">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		{# Espace Navigation #}
		<div>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('index') }}">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Par Console
						</a>
						<ul
							class="dropdown-menu">
							{# Récupérer notre fonction twig pour récupérer les éléments #}
							{% for nav in menu_items() %}
								<li>
									<a class="dropdown-item" href="/console/{{ nav.id }}">{{ nav.label }}
										({{ nav.total }})</a>
								</li>
							{% endfor %}
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Par Âge
						</a>
						<ul
							class="dropdown-menu">
							{# Récupérer notre fonction twig pour récupérer les éléments #}
							{% for age in age_items() %}
								<li class="d-flex flex-row">
									<img class="m-1" src="/images/pegi/{{ age.imagePath }}" alt="logo du pegi" style="height: 30px; width: 30px;">
									<a class="dropdown-item" href="/age/{{ age.id }}">{{ age.label }}+({{ age.total }})</a>
								</li>
							{% endfor %}
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Trier par :
						</a>
						<ul
							class="dropdown-menu">
							{# Récupérer notre fonction twig pour récupérer les éléments #}
							{% for filter in filters_items() %}
								<li class="d-flex flex-row">
									<a class="dropdown-item" href="{{ path('games_filter', {'field': filter.filter}) }}">{{ filter.label }}
										<i class="{{ filter.icon }}"></i>
									</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
		</div>

		{# Espace Admin #}
		<div class="dropdown">
			<a href="#" class="nav-link dropdown-toggle text-dark fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fa-regular fa-circle-user" style="font-size: 30px; color: grey;"></i>
			</a>

			<div
				class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				{# Si utilisateur en session #}
				{% if app.user %}
					{# Si utilisateur est admin #}
					{% if is_granted('ROLE_ADMIN') %}
						<a class="dropdown-item" href="{{ path('app_admin') }}">Dashboard</a>
						<a class="dropdown-item" href="{{ path('app_user_index') }}">User dashboard</a>
					{% endif %}
					<a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
					{# Si pas d'utilisateur en session #}
				{% else %}
					<a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
				{% endif %}

			</div>
		</div>
	</div>
</div></nav>
